@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mulish&family=Oswald&family=Quicksand&family=Source+Sans+Pro:wght@300&display=swap');

@import "./styles/color.scss";

@mixin flex-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  background-color: $secondary-color;
}


.App{
  @include flex-display;
  flex-direction: column;

}